@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-sans:
    "Nunito", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --color-surface-100: color-mix(in srgb, var(--surface) 10%, var(--background));
  --color-surface-200: color-mix(in srgb, var(--surface) 20%, var(--background));
  --color-surface-300: color-mix(in srgb, var(--surface) 30%, var(--background));
  --color-surface-400: color-mix(in srgb, var(--surface) 40%, var(--background));
  --color-surface-500: color-mix(in srgb, var(--surface) 50%, var(--background));
  --color-surface-600: color-mix(in srgb, var(--surface) 60%, var(--background));
  --color-surface-700: color-mix(in srgb, var(--surface) 70%, var(--background));
  --color-surface-800: color-mix(in srgb, var(--surface) 80%, var(--background));
  --color-surface-900: color-mix(in srgb, var(--surface) 90%, var(--background));
  --color-surface-faint: var(--color-surface-300);
  --color-surface-soft: var(--color-surface-500);
  --color-surface-calm: var(--color-surface-700);

  --color-surface-foreground-100: color-mix(in srgb, var(--surface-foreground) 10%, var(--surface));
  --color-surface-foreground-200: color-mix(in srgb, var(--surface-foreground) 20%, var(--surface));
  --color-surface-foreground-300: color-mix(in srgb, var(--surface-foreground) 30%, var(--surface));
  --color-surface-foreground-400: color-mix(in srgb, var(--surface-foreground) 40%, var(--surface));
  --color-surface-foreground-500: color-mix(in srgb, var(--surface-foreground) 50%, var(--surface));
  --color-surface-foreground-600: color-mix(in srgb, var(--surface-foreground) 60%, var(--surface));
  --color-surface-foreground-700: color-mix(in srgb, var(--surface-foreground) 70%, var(--surface));
  --color-surface-foreground-800: color-mix(in srgb, var(--surface-foreground) 80%, var(--surface));
  --color-surface-foreground-900: color-mix(in srgb, var(--surface-foreground) 90%, var(--surface));
  --color-surface-foreground-faint: var(--color-surface-foreground-300);
  --color-surface-foreground-soft: var(--color-surface-foreground-500);
  --color-surface-foreground-calm: var(--color-surface-foreground-700);

  --color-foreground-100: color-mix(in srgb, var(--foreground) 10%, var(--background));
  --color-foreground-200: color-mix(in srgb, var(--foreground) 20%, var(--background));
  --color-foreground-300: color-mix(in srgb, var(--foreground) 30%, var(--background));
  --color-foreground-400: color-mix(in srgb, var(--foreground) 40%, var(--background));
  --color-foreground-500: color-mix(in srgb, var(--foreground) 50%, var(--background));
  --color-foreground-600: color-mix(in srgb, var(--foreground) 60%, var(--background));
  --color-foreground-700: color-mix(in srgb, var(--foreground) 70%, var(--background));
  --color-foreground-800: color-mix(in srgb, var(--foreground) 80%, var(--background));
  --color-foreground-900: color-mix(in srgb, var(--foreground) 90%, var(--background));
  --color-foreground-faint: var(--color-foreground-300);
  --color-foreground-soft: var(--color-foreground-500);
  --color-foreground-calm: var(--color-foreground-700);
}

@layer base {
  body {
    font-family: var(--font-sans);
  }

  * {
    /* scrollbar-width: auto; */
    /* scrollbar-color: var(--color-foreground-300) var(--color-surface-100); */
  }

  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--color-surface-100);
  }

  *::-webkit-scrollbar-corner {
    background: var(--color-surface-100);
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-foreground-300);
    border-radius: 0px;
    border: 0px solid var(--color-surface-100);
  }

  *::-webkit-scrollbar-thumb:hover {
    background: var(--color-foreground-500);
  }

  /* prettier-ignore */
  [data-theme] {
    --color-surface-100: color-mix(in srgb, var(--surface) 10%, var(--background));
    --color-surface-200: color-mix(in srgb, var(--surface) 20%, var(--background));
    --color-surface-300: color-mix(in srgb, var(--surface) 30%, var(--background));
    --color-surface-400: color-mix(in srgb, var(--surface) 40%, var(--background));
    --color-surface-500: color-mix(in srgb, var(--surface) 50%, var(--background));
    --color-surface-600: color-mix(in srgb, var(--surface) 60%, var(--background));
    --color-surface-700: color-mix(in srgb, var(--surface) 70%, var(--background));
    --color-surface-800: color-mix(in srgb, var(--surface) 80%, var(--background));
    --color-surface-900: color-mix(in srgb, var(--surface) 90%, var(--background));
    --color-surface-faint: var(--color-surface-300);
    --color-surface-soft: var(--color-surface-500);
    --color-surface-calm: var(--color-surface-700);

    --color-surface-foreground-100: color-mix(in srgb, var(--surface-foreground) 10%, var(--surface));
    --color-surface-foreground-200: color-mix(in srgb, var(--surface-foreground) 20%, var(--surface));
    --color-surface-foreground-300: color-mix(in srgb, var(--surface-foreground) 30%, var(--surface));
    --color-surface-foreground-400: color-mix(in srgb, var(--surface-foreground) 40%, var(--surface));
    --color-surface-foreground-500: color-mix(in srgb, var(--surface-foreground) 50%, var(--surface));
    --color-surface-foreground-600: color-mix(in srgb, var(--surface-foreground) 60%, var(--surface));
    --color-surface-foreground-700: color-mix(in srgb, var(--surface-foreground) 70%, var(--surface));
    --color-surface-foreground-800: color-mix(in srgb, var(--surface-foreground) 80%, var(--surface));
    --color-surface-foreground-900: color-mix(in srgb, var(--surface-foreground) 90%, var(--surface));
    --color-surface-foreground-faint: var(--color-surface-foreground-300);
    --color-surface-foreground-soft: var(--color-surface-foreground-500);
    --color-surface-foreground-calm: var(--color-surface-foreground-700);

    --color-foreground-100: color-mix(in srgb, var(--foreground) 10%, var(--background));
    --color-foreground-200: color-mix(in srgb, var(--foreground) 20%, var(--background));
    --color-foreground-300: color-mix(in srgb, var(--foreground) 30%, var(--background));
    --color-foreground-400: color-mix(in srgb, var(--foreground) 40%, var(--background));
    --color-foreground-500: color-mix(in srgb, var(--foreground) 50%, var(--background));
    --color-foreground-600: color-mix(in srgb, var(--foreground) 60%, var(--background));
    --color-foreground-700: color-mix(in srgb, var(--foreground) 70%, var(--background));
    --color-foreground-800: color-mix(in srgb, var(--foreground) 80%, var(--background));
    --color-foreground-900: color-mix(in srgb, var(--foreground) 90%, var(--background));
    --color-foreground-faint: var(--color-foreground-300);
    --color-foreground-soft: var(--color-foreground-500);
    --color-foreground-calm: var(--color-foreground-700);
  }
}
