html,
body {
  background-color: transparent;
}

.draggable {
  app-region: drag;
}

.not-draggable {
  app-region: no-drag;
}

[data-scope="floating-panel"][data-part="resize-trigger"] {
  /* background-color: rgba(154, 18, 18, 0.396); */

  &[data-axis="n"],
  &[data-axis="s"] {
    height: 6px;
    max-width: 90%;
  }

  &[data-axis="e"],
  &[data-axis="w"] {
    width: 6px;
    max-height: 90%;
  }

  &[data-axis="ne"],
  &[data-axis="nw"],
  &[data-axis="se"],
  &[data-axis="sw"] {
    width: 10px;
    height: 10px;
  }
}
